@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>DivulgueAqui - Home</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/content/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style2.css" rel="stylesheet">
    <link href="~/content/css/animate.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navegação -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Header -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Barra de Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="~/content/images/logo.png" alt="DivulgueAqui logo"></a>
            </div>
            <!-- Inicio Barra de Navegação -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" id="itemNavBar" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="itemNavBar" href="#planos">Planos</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="itemNavBar" href="#contact">Contatos</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="itemNavBar" href="~/Home/LoginAdm" target="_blank">Login Administração</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="itemNavBar" href="~/Home/LoginAnunciante" target="_blank">Login Anunciante</a>
                    </li>
                </ul>
            </div>
            <!-- /.Final da barra de Navegação -->
        </div>
        <!-- /-->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="slider-container">
                <div>
                    <div class="intro-text">
                        <div class="intro-lead-in animation animated delay-1s zoomIn">
                            Sua Ferramenta de Panfletagem Online
                            <br />
                        </div>
                        <hr class="divisor my-4">
                        <div class="intro-heading animation animated delay-2s zoomIn">
                            Divulgue seus planfetos de promoção para todos os clientes da região por um preço acessível
                        </div>
                        <a href="#about" class="page-scroll btn btn-x1">Quero saber mais!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Final do Header -->
    <!-- Sessão 1 - Sobre -->
    <section id="about" class="orange-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="section-title">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <br />
                    <h2 class="tituloTextoIntro">
                        A divulgação que seu comércio merece!
                    </h2>
                    <br />
                    <p class="textoIntro">

                        No <span>DivulgueAqui</span> você pode ter a certeza de que suas promoções e ofertas serão divulgadas
                        entre os clientes da região, gerando assim <span>mais visibilidade</span> e consequentemente,
                        <span>mais lucro</span> para a sua empresa.
                        <br /> <br />
                        Oferecemos <span>internet gratuita</span> para pessoas que têm nosso aplicativo mobile
                        instalado, o que atrairá muitos clientes da região. Assim, nosso aplicativo emite notificações para os clientes
                        através do <span>Instagram</span>, <span>Facebook</span> e <span>WhatsApp</span> com os planfetos
                        que você irá cadastrar. E além de tudo isso, toda vez que o cliente <span>comprar</span> ou <span>usar</span>
                        os serviços da sua empresa, <span>ganharão mimos ou descontos</span>.
                        <br /> <br />

                        <h2 class="tituloTextoIntro">Não perca essa excelente oportunidade de ser um <span>diferencial no mercado</span>!</h2>

                    </p>
                </div>
                <div class="col-lg-6">
                    <figure class="fotoLegenda">
                        <img src="~/content/images/preview-image2.jpg" height="450" width="100%">
                    </figure>
                </div>
            </div>
        </div>
        </div>
        <!-- Final da Sessão 1 - Sobre -->
    </section>
    <!-- Sessão 2 - Planos -->
    <section id="planos" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Planos</h2>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <img src="https://img.icons8.com/color/96/000000/bronze-bars.png">
                        <h3 class="planos">Plano Básico</h3>
                        <p class="p-planos">Divulgar 4 Panfletos por Mês</p>
                        <p class="p-planos">Somente R$ 9,90 mensais</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <img src="https://img.icons8.com/color/96/000000/silver-bars.png">
                        <h3 class="planos">Plano Intermediário</h3>
                        <p class="p-planos">Divulgar 8 Panfletos por Mês</p>
                        <p class="p-planos">Somente R$ 19,90 mensais</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <img src="https://img.icons8.com/color/96/000000/gold-bars.png">
                        <h3 class="planos">Plano Premium</h3>
                        <p class="p-planos">Divulgar Panfletos Ilimitados</p>
                        <p class="p-planos">Somente R$ 39,90 mensais</p>
                    </div>
                </div>
                <!-- Final da Sessão 2 - Planos -->
    </section>
    <!--Sessão 3 - Contato -->
    <section id="contact" class="orange-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Entre em Contato</h2>
                        <p>
                            Gostou da proposta e está interessado em <b>saber como pode assinar</b>, tem alguma <b>dúvida</b> ou quer nos dar um <b>feedback</b>? Por favor, preencha o formulário abaixo.
                            <br>Estamos a disposição para ajuda-los no que for preciso e sua opinião é muito importante para nós.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <center>
                        <form name="sentMessage" id="contactForm" novalidate="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Seu nome *" id="name" required="" data-validation-required-message="Por favor, digite o seu nome.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Seu Email *" id="email" required="" data-validation-required-message="Por favor, digite o seu endereço de email">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Sua Empresa *" id="empresa" required="" data-validation-required-message="Por favor, digite o nome da sua empresa.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Telefone (99) 9999-9999 *" id="telefone" required="" data-validation-required-message="Por favor, digite o seu telefone de contato.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Nos deixe uma mensagem detalhando-nos o motivo do contato *" id="message" required="" data-validation-required-message="É necessário escrever o motivo do contato."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn">Enviar Mensagem</button>
                                </div>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
        <!--Final da Sessão 3 - Contato -->
    </section>
    <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </p>

    <footer>
        <div class="container text-center">
            <p>Copyright &copy; DivulgueAqui 2019</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    <script src="~/content/js/cbpAnimatedHeader.js"></script>
    <script src="~/content/js/theme-scripts.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>